body {
    font-family: 'Roboto', sans-serif ;
    color: #434455;
    background-color: #fff;
}

h1, h2, h3, h4, p {
    margin: 0;
}

li, ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
img {
    display: block;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    display: flex;
}
.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.header-logo-span {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;
}

.header-logo {
    margin-right: 76px;
    
}
.nav-item {
    display: flex;
    gap: 40px;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    cursor: pointer;
    padding: 24px 0;
    display: block;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.contakt {
    font-style: normal;
    margin-left: auto;
}

.contakt-item {
    display: flex;
    gap: 40px;
}

.contakt-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
    cursor: pointer;
}

.contakt-link:hover {
    color: #404bbf;
}

.contakt-lin:focus {
    color: #404bbf;
}

.onesection {
    background-color: #2e2f42;
    padding: 188px 0;
}
.onesection-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    max-width: 496px;
    }

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    
}
.onesection-button {
    border-radius: 4px;
    color: #fff;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background: #4d5ae5;
    margin-right: 496px;
    margin-left: 496px;
    display: block;
    border: none;
    cursor: pointer;
    margin-top: 48px;
}

.onesection-button:hover {
    background-color: #404bbf;
 }
.onesection-button:focus {
    background-color: #404bbf;
}
.twosection {
    background-color: #FFFFFF;
    padding: 120px 0 120px 0;
    }
    
.twosection-ull {
    width: 1128px;
    margin: 123px 15px 106px 15px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.twosection-lii {
    background-color: #FFFFFF;
    width: 264px;
    width: calc((100% - 72px) / 4);
}
.twosection-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.threesection {
    background-color: #F4F4FD;
    height: 732px;
    padding: 120px 0 120px 0;
}

.section-lii {
    background-color: #F4F4FD;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    width: calc((100% - 72px) / 4);
}
.threesection-div {
    padding: 32px 0;
}

.threesection-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.threesection-ull {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.threesection-title-scr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.threesection-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.foursection {
    padding: 120px 0 120px 0;
}
.foursection-div {
    width: 1128px;
    height: 1000px;
}
.foursection-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px; 
}

.foursection-ull {
   display: flex; 
   row-gap: 48px;
   column-gap: 24px;
   flex-wrap: wrap;
}
.foursection-lii {
    width: 360px;
    height: 420px;
    width: calc((100% - 48px) / 3);
}
.foursection-img {
    max-width: 100%;
    display: block;
}
.foursection-lii-div {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none;
}

.section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.section-title-scr {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
    margin-bottom: 8px;
}

.foter {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.div-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.foter-logo-span{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}

.div-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
